/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */




 /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any styles
  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
  * file per style scope.
  *


  */

  /* PHASE 0: Reset */



  html, body, header, nav, h1, a,
  ul, li, strong, main, button, i,
  section, img, div, h2, p, form,
  fieldset, label, input, textarea,
  span, article, footer, time, small {
    box-sizing: border-box;
    font-family: sans-serif
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  img {
    display: block;
  }

  input[type="submit"],
  Link,
  button {
    appearance: none;
    outline: none;
    cursor: pointer;
  }

  input[type="submit"]:hover,
  button:hover {
    color: darkcyan;
  }

  button:focus, Link:focus, input[type="submit"]:focus {
    outline: none;
  }
  /* Clearfix */

  .group:after {
    content: "";
    display: block;
    clear: both;
  }







 * {
 }

 /*body {
   background-image: url("http://mayahayuk.com/dev/files/projects/chem-trails-2013/mayaHayuk.CHEMTRAILS.MIAMI.2584.jpg");
   background-repeat: no;
 }*/

 .login-background {
   background-image: url("http://mayahayuk.com/dev/files/projects/chem-trails-2013/mayaHayuk.CHEMTRAILS.MIAMI.2584.jpg");
   /* background-repeat: no-repeat; */
   background-size: 100%, 100%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .header-logo{
   font-size: 40px;
   font-weight: bold;
   text-align: center;
   border: 6px solid black;
   padding: 5px 20px 5px 20px;
   /* display: flex; */
   position: inherit;
   width: 40%;
 }


 .login-form-container{
   position: relative;
   height: 100%;
   width: 100%;
   display: flex;
 }


 .login-form-box{
   min-width: 420px;
   min-height: 350px;
   margin: auto;
   padding: 65px 40px 40px 40px;
   background: whitesmoke;
   /* opacity: .9; */
   border-radius: 5px;
   border: 1px solid black;
   text-align: center;
 }

 .login-form{
   margin: 15px;
   margin-top: 25px;
 }

 .login-input {
   width: 200px;
   height: 24px;
   margin: 5px;
   font-size: 14px;
   padding: 2px;
 }

 .other-login-option ul {
   margin-top: 20px;
   list-style-type: none;
   color: red;
   font-weight: bold;
 }

 ul {
   display: block;
   padding: 0;
   font-size: 18px;
   margin-top: 5px;
   margin-bottom: 0;
 }

 .other-login-option input[type=submit] {
   border-radius: 4px;
   background: lightgrey;
   margin-top: 10px;
   padding: 5px 10px;
   color: blueviolet;
   font-size: 14px;
   font-weight: bold;
 }


 .other-login-option a {
   margin-left: 5px;
   color: blueviolet;
 }

 button.guest-button {
    color: blueviolet;
    font-size: 14px;
    margin-top: 2px;
    text-decoration: underline;
    background: whitesmoke;
    border-color: whitesmoke;
    border-style: none;
}

 span {
     font-size: 18px;
 }

 .header-group {
     display: inline-block;
     background: white;
     width: 100%;
     padding-top: 45px;
     padding-bottom: 50px;
     background-image: url("http://mayahayuk.com/dev/files/projects/chem-trails-2013/mayaHayuk.CHEMTRAILS.MIAMI.2584.jpg");
 }


 .product-index-item img {
     height: 320px;
     width: inherit;
 }

 .new-products-title {
     font-size: 25px;
     /* border-bottom: 2px solid black; */
     text-align: center;
     margin-bottom: 0;
     font-weight: bold;
 }

 .item-title {
     margin: 0 auto;
     font-weight: bold;
 }

 .item-artist {
     margin: 0 auto;
     font-size: 14px;
 }

 .item-price {
     margin: 0 auto;
     font-size: 14px;
 }

 button.cart{
  background: turquoise;
  color: black;
  display: flex;
  float: right;
  font-size: 20px;
  margin:  auto;
  border-color: seagreen;
  border-radius: 5px;
  border-style: outset;
}


/*html, body {
    height: 100%;
}*/

.header-group .header-logo {
    float: initial;
    background: whitesmoke;
}


header.header-group-sublinks {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.header-group-sublinks a {
    text-align: center;
    color: slategray;
    margin-left: 50px;
}

button.header-logout {
    color: blueviolet;
    font-size: 16px;
    padding: 5px;
    background: whitesmoke;
    border-color: whitesmoke;
    text-align: left;
    border-style: hidden;
}

.header-group-img {
    width: 100%;
    height: 20px;
    background-image: url("http://mayahayuk.com/dev/files/projects/chem-trails-2013/mayaHayuk.CHEMTRAILS.MIAMI.2584.jpg");
  }


.other-login-option {
    font-size: 14px;
}
